# VWAP Strategy

VWAP: Volume Weighted Average Price

LONG when the price is under the VWAP range.
SHORT when the price is over the VWAP range.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/btc-usd-5m.csv')

In [3]:
df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2022-04-17 19:45:00+00:00,40175.125000,40293.312500,40175.125000,40293.312500,40293.312500,0
1,2022-04-17 19:50:00+00:00,40316.824219,40382.191406,40316.824219,40382.191406,40382.191406,133923840
2,2022-04-17 19:55:00+00:00,40380.207031,40380.320312,40369.675781,40369.675781,40369.675781,107765760
3,2022-04-17 20:00:00+00:00,40370.089844,40393.433594,40370.089844,40393.433594,40393.433594,25071616
4,2022-04-17 20:05:00+00:00,40406.847656,40406.847656,40402.527344,40402.527344,40402.527344,47454208